
body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Alegreya Sans", sans-serif;
	color: #000;
	background-color: #FFF;
}

/* Options Bar */

h1 {
	font-size: 30px;
	margin: 0;
}

.btn-group {
	padding-left: 10px;
}

.btn-group .btn:focus {
	outline: none;
}

/* Tic Tac Toe Board */

.board {
	margin: 30px 10px;
}

.flex-row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.square {
	display: flex;
	align-items: center; /* vertical alignment */
	justify-content: center;
	flex-basis: 33.333%;
	max-width: 150px;
	font-size: 3em;
	font-weight: bold;
	border-bottom: 3px solid #777;
	border-right: 3px solid #777;
}

.square::after {
	display: block;
	content: "";
	padding-bottom: 100%;
}

.square:hover {
	background-color: #EEEEEE;
}

/* Remove outside borders */
#square-2, #square-5, #square-8 {
	border-right-color: transparent;
}

#square-6, #square-7, #square-8 {
	border-bottom-color: transparent;
}

.winning-square__user,
.winning-square__user:hover {
	background-color: #79d279;
}

.winning-square__comp,
.winning-square__comp:hover {
	background-color: #d27979;
}
